* {
  padding: 0;
  margin: 0;
}
#root {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
  width: 100%;
  .app-main {
    height: 100%;
    .logo {
      line-height: 32px;
      text-align: center;
      height: 32px;
      margin: 16px;
      background-color: #fff;
    }
    .collapsed {
      cursor: pointer;
      font-size: 20px;
    }
    .site-layout {
    }
  }
}
