.thirdLevelMenuBox {
  position: relative;
  height: 100%;
  max-width: 200px;
  background-color: #fff;
  .Sider {
    width: 100%;
  }
  .thirdLevelMenuBoxIcon {
    width: 20px;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 99;
  }
}
.slide-left {
  width: 0px;
  transition: all 0.5s;
}
.slide-right {
  width: 150px;
  transition: all 0.5s;
}
